[2018-07-23 11:24] Wingee opened #1 "Android error"
I've added the meta tag <meta-data android:name="io.fabric.ApiKey" android:value="apikeyhere"/>

I've signed up to Fabric, although Fabric dashboard just keeps redirecting me to the installation instructions.

But I'm getting the following error.

[ERROR] :  TiExceptionHandler: (main) [3425,3425] ----- Titanium Javascript Runtime Error -----
[ERROR] :  TiExceptionHandler: (main) [0,3425] - In /app

[2018-07-23 11:46] hansemannn commented on #1
Hey there! Do you use main- or (deprecated) kroll-thread? I have only tested with main-thread so far.

[2018-07-23 11:51] Wingee commented on #1
Hi! Krollthread.... that must be the issue

[2018-07-23 11:54] hansemannn commented on #1
Oh, I just reproduced it. You need to wait until the app finished opening (e.g. after the first `open` event of your window). I configured the module so that you do not need to initialize it manually, but the native SDK initializes with the native `Activity`, which is only available when the app is ready to go.

[2018-07-23 11:55] hansemannn commented on #1
[code]

[2018-07-23 14:17] Wingee commented on #1
My app is built using Alloy, so I tried this:

			$.index.addEventListener('open', function(e) {
				Alloy.Globals.Crashlytics = require('ti.crashlytics');
				setTimeout(function(){
					Alloy.Globals.Crashlytics.crash();
				},10000);
			});

This error now occurs during the call to make it crash:

[ERROR] :  TiExceptionHandler: (main) [10210,10600] ----- Titanium Javascript Runtime Error -----

[2018-07-23 14:45] Wingee commented on #1
From the looks of your sample you're using an SDK version newer than 7.2.0GA? I believe...

[2018-07-23 14:56] hansemannn commented on #1
Yep, 7.3.0 (RC today), but it should work the same with 7.2.0 I believe.

[2018-08-15 23:11] macasfaj commented on #1
@Wingee @hansemannn I have the same issue, using 7.2.0GA and Android module 1.1.0.

One question, I'm not using crashlytics.xml. What should I add there?

Thanks!

[2018-09-10 11:56] rlustemberg opened #2 "IOS - Invalid selector exception when calling recordCustomException(params)"
the argument params is cast to an array instead of an NSDictionary.
I added the casting coding in a PR

[2018-09-11 05:59] hansemannn commented on #2
Closed via #3, thanks again!

[2018-09-11 05:59] #2 closed

[2018-09-11 06:00] hansemannn commented on #1
I just updated the Android module to 1.1.1 which might resolve this. I have not had the change to test all components of it, so feedback and contributions are welcome!

[2018-09-11 14:01] ingelby commented on #1
Unfortunately still having the same error:

[ERROR] :  CrashlyticsCore: This app relies on Crashlytics. Please sign up for access at https://fabric.io/sign_up,
[ERROR] :  CrashlyticsCore: install an Android build tool and ask a team member to invite you to this app's organization.

This is building with 7.3.1 GA and the 1.1.1 module

[2018-09-11 14:02] Wingee commented on #1
Unfortunately still having the same error @hansemannn :

[ERROR] : CrashlyticsCore: This app relies on Crashlytics. Please sign up for access at https://fabric.io/sign_up,
[ERROR] : CrashlyticsCore: install an Android build tool and ask a team member to invite you to this app's organization.

This is building with 7.3.1 GA and the 1.1.1 module

[2018-09-11 14:23] Wingee opened #5 "iOS installation help"
When you say the following:

Create a new folder scripts/ in your project root
Inside scripts/, create a script-titanium-crashlytics.sh with the following contents (replace the version with your version):

With an Alloy project should the scripts folder be inside the app folder? or at the same level as the apps folder?

[2018-09-11 19:38] testampat commented on #1
I am still getting error of [ERROR] :  TiExceptionHandler: 			Crashlytics.crash();
[ERROR] :  TiExceptionHandler:                ^
[ERROR] :  TiExceptionHandler: Error: Must Initialize Fabric before using singleton()
[ERROR] :  TiExceptionHandler:     at Titanium.<anonymous> (/alloy/controllers/crashlytics.js:71:16)

[2018-09-16 14:39] sed76 commented on #5
For me, it works when `scripts/` folder at the same level as the `app/` .

[2018-09-16 16:38] hansemannn commented on #5
Yes, always the root directory.

[2018-09-16 16:38] #5 closed

[2018-09-17 08:39] Wingee commented on #5
I've followed these instructions, but I see no evidence in the code that it's worked. (I also get no data in Firebase)

Should there be anything in the console to suggest script-titanium-crashlytics.sh has run successfully? Or that ../../modules/iphone/ti.crashlytics/1.1.1/platform/Fabric.framework/run has done anything?

I'm building with 7.3.1GA and Crashlytics 1.1.1

[2018-09-18 07:51] Wingee commented on #5
I've tried a brand new project and the problem still persists. See my screenshot below of the structure.
![screen shot 2018-09-18 at 08 50 47](https://user-images.githubusercontent.com/813793/45672427-027e9d80-bb20-11e8-8617-c8f860920d58.png)

[2018-09-19 15:35] Wingee commented on #5
@hansemannn  I thought I'd try with the demo app provided here: https://github.com/hansemannn/titanium-crashlytics-demo

I still can't get Fabric to see it. Here's the screenshot on Fabric:

![screen shot 2018-09-19 at 16 32 32](https://user-images.githubusercontent.com/813793/45764138-f1ba4e80-bc29-11e8-9d1d-1f50bc6a5e53.png)

I run the app, click the button that creates the crash but still Fabri

[2018-09-20 15:55] Wingee commented on #5
I get the same issue on Firebase, the console says it's waiting for the app to communicate with it:

![screen shot 2018-09-20 at 16 54 26](https://user-images.githubusercontent.com/813793/45830852-e5032c80-bcf5-11e8-9ab5-fb260e9d5536.png)

I'd appreciate it you could open this issue again as I could really do with the help.

Thanks

[2018-09-26 15:44] ptsequeira commented on #5
Hi @hansemannn

I tried the demo project, a new project but nothings works. The script-titanium-crashlytics.sh does not seem to be running. Any ideias?

Thanks

[2018-10-17 17:15] ericpolkadoc opened #6 "Crashlytics website cant find app"
Hi,

I've followed your instructions, but having some issues -- when I run the app, Crashlytics can't find it, and won't add it to the dashboard.   This just keeps spinning.

Build and Run APPNAME
"We are looking for your app to confirm that it's activated"
That's not the right app (link)
- spinning wheel -

Just to make sure I understand the full native process, I've built a native iOS test app,

[2018-10-19 16:19] amigoni commented on #6
I have the exact same issue. App doesn't register with dashboard. Neither iOS nor Android. Also used required not ES6

[2018-10-31 13:53] jwogan5 opened #7 "Android Issue When Resuming Activity"
So I implemented the 1.1.1 version of the module and it works great until I run ti.barcode which starts a new activity.  When I close the barcode scanner or anything else that creates a new activity the crash of crashlytics happens where it needs to be registered and gives the whole error like below.

[ERROR] CrashlyticsCore: This app relies on Crashlytics. Please sign up for access at https://fab

[2018-11-08 16:38] marconealberto commented on #5
Same issue here, I don't see the script added to the build phases. Anyone had better luck?

[2019-01-22 09:55] vishal95713 commented on #1
I fixed this problem by adding UUID to platform/android/res/values/strings :) for reference check this link [](https://docs.fabric.io/android/crashlytics/build-tools.html)
After adding this I did not get any error but firebase does not update crash.

[2019-01-22 17:43] hansemannn commented on #1
Thanks! Updating the readme now.

[2019-01-22 17:43] #1 closed

[2019-01-25 06:46] vishal95713 commented on #1
Hello Hansemannn,

After than also my app is not updating in crashlytics dashboard. I don't know what I am doing wrong.

[2019-02-20 16:00] sschueller commented on #6
Same issue here

[2019-02-25 08:09] hansemannn commented on #6
Thanks for the input! The run-script injection script needed a little update. Working now!

<img width="764" alt="bildschirmfoto 2019-02-25 um 09 05 36" src="https://user-images.githubusercontent.com/10667698/53322921-18696900-38dd-11e9-9fe4-9a84a2dd4197.png">

[2019-02-25 08:09] #6 closed

[2019-02-25 08:16] hansemannn commented on #7
@jwogan5 Can you apply that fix?

[2019-03-07 12:56] sandeep14 opened #8 "Fabric: Failed to retrieve settings from https://settings.crashlytics.com/spi/v2/platforms/android/apps"
Hi,

I have using user module in my appcelerator project. as per documentation I have added io.fabric.ApiKey in metadata . (it is my firebase app's api key).
after running project. I have got below error

[INFO] :   FA: Tag Manager is not found and thus will not be used
[INFO] :   CrashlyticsCore: Initializing Crashlytics 2.6.3.25
[INFO] :   TiRootActivity: (main) [0,0] checkpoint, on root activit

[2019-03-08 11:27] sandeep14 opened #9 "Crashlytics.crash() Method not working"
Hi ,
I have using latest version 1.1.1 of crashlytics

when we hit Crashlytics.crash()  then we get below error
[ERROR] :  TiExceptionHandler: (main) [3363,3363] 	 Crashlytics.crash();
[ERROR] :  TiExceptionHandler:               ^
[ERROR] :  TiExceptionHandler: Error: length=2; index=10
[ERROR] :  TiExceptionHandler:     at Label.eval (eval at Module._compile (/app.js:728:13), <anonymous>:33:15)

[2019-03-08 13:02] hansemannn commented on #9
The whole concept of this method is to simulate a crash… It works fine!

[2019-03-08 13:03] #9 closed

[2019-03-11 10:48] sandeep14 opened #10 "PhaseScriptExecution using titanium crashlytics"
Hi,

I am using Using Appcelerator for implementation of Crashlytics.
Current Module version using  is 1.2.1

Modules all function working properly. not showing any error in logs.

But unable connect to crashlytic(unable to enable crashlytics)
refer screenshots
![Screenshot 2019-03-11 at 3 56 32 PM](https://user-images.githubusercontent.com/5755440/54117282-61113e00-4416-11e9-8f57-e2f203d9279b.png

[2019-03-12 09:57] #8 closed

[2019-03-12 09:59] #10 closed

[2019-03-12 10:07] sandeep14 opened #11 "iOS build failed with crashlytic module"
Hi,

I  am using crashlytics Module of version 1.2.1 .
 it Build & run in simulator properly
 But on firebase Console is showing upload 1 Missing DySM
refer screenshots
![Screenshot 2019-03-12 at 3 36 04 PM](https://user-images.githubusercontent.com/5755440/54191797-a26c2100-44dc-11e9-8f03-4a152c78c8d7.png)

When I tried to created adhoc build  . during build process it throw below error
[ERROR] :

[2019-03-12 12:10] #11 closed

[2019-03-20 20:47] rlustemberg opened #12 "IOS version does not build with sdk 8.0.0.GA"
App build fails dumping the following to the build_iphone.log:

[code]

[2019-03-21 21:39] janvennemann commented on #12
@hansemannn looks like `-lz` linker flag is missing in `module.xcconfig`

[2019-03-22 10:56] hansemannn commented on #12
Yep, thats it. Never occurred to me because of our > 30 modules that most likely link it somewhere else already. @rlustemberg Please make a pull if possible!

[2019-03-22 15:31] rlustemberg commented on #12
Will do asap

[2019-03-29 13:17] rlustemberg commented on #12
Just made the PR

[2019-03-29 14:09] hansemannn commented on #12
Thx!

[2019-03-29 14:09] #12 closed

[2019-04-12 19:39] Sean-Brown-Digi commented on #7
@hansemannn is that version 1.1.1? How come there are newer versions of the iOS module but not Android?

[2019-04-12 20:29] Sean-Brown-Digi opened #14 "How to create a new Fabric app?"
I'm new to Crashlytics, but I want to add it to an existing Alloy app, however it does not work. I've followed the directions in the README, using the my organization's keys, but every time I run the app I see this error:
[code]

The app doesn't crash, however the the app also never shows up in the Fabric dashboard. I've looked at the [directions to create a Fabric app](https://fabric.io/kits/ios/

[2019-04-12 20:56] Sean-Brown-Digi commented on #14
Also as a test I tried to run the demo project but it doesn't build: `[ERROR] Application not registered.`

[2019-04-17 18:36] ericrab opened #15 "Appcelerator Package Build Fails"
[ERROR] :  ** ARCHIVE FAILED **
[ERROR] :  The following build commands failed:
[ERROR] :  	PhaseScriptExecution [Ti]\ Crashlytics /Users/peterladis/Documents/products.nosync/devices.nosync/IOS/build/iphone/build/Intermediates/LilyPad.build/Release-iphoneos/LilyPad.build/Script-000000000000000000000026.sh
[ERROR] :  (1 failure)

Any ideas how to fix?

[2019-04-17 18:51] hansemannn commented on #15
It means that the shell script errored, probably either a syntax error or invalid API keys.

[2019-04-17 18:51] #15 closed

[2019-04-17 18:54] ericrab commented on #15
Can I send you a copy....I am able to run this in simulator just fine and it uploads to fabric just fine??

[2019-04-17 18:59] ericrab commented on #15
This is my SH

# Do not run this file manually! It is referenced from your native Xcode project
"../../modules/iphone/ti.crashlytics/1.2.2/platform/Fabric.framework/uploadDSYM" bcb14b5a7a1d4538da18a93868070240513e595b 24f401ab77d58868ab729625408c7a54bc77a2e7951ebbce293ac0ba0949b964

[2019-04-17 19:12] ericrab commented on #15
The path seems off to me....my module is installed in my Application Support directory

[2019-04-17 20:56] orl99 commented on #14
@Sean-Brown-Digi do you have some news?
I was reading that fabric will no longer be supported and will be replaced totally by firebase.
soo, will this module be supported?

[2019-04-17 21:20] ericrab opened #16 "I cannot build my app for production"
This is my script

# Do not run this file manually! It is referenced from your native Xcode project
"../../modules/iphone/ti.crashlytics/1.2.2/platform/Fabric.framework/uploadDSYM" myapi secret

Is this path correct....my modules are store in the application support folder

[2019-04-17 22:37] hansemannn commented on #16
No, it needs to be in the actual project.

[2019-04-17 22:37] #16 closed

[2019-04-18 01:31] ericrab opened #17 "Cannot build for production"
1. I added Modules to my project
2. Build for production ...same errors....attached is a picture of the error..and my project.
3. Triple verified that the API KEY and secret are correct.

Please advise
<img width="1155" alt="Screen Shot 2019-04-17 at 9 28 11 PM" src="https://user-images.githubusercontent.com/1727354/56330899-15aa2800-6158-11e9-91f1-02e966b4378e.png">
<img width="412" alt="Screen S

[2019-04-18 06:48] hansemannn commented on #17
what does your shell script look like?

[2019-04-18 12:27] ericrab commented on #17
Ive tried

# Do not run this file manually! It is referenced from your native Xcode project
"../modules/iphone/ti.crashlytics/1.2.2/platform/Fabric.framework/uploadDSYM" myapikey mysecret

and

# Do not run this file manually! It is referenced from your native Xcode project
"../../modules/iphone/ti.crashlytics/1.2.2/platform/Fabric.framework/uploadDSYM" myapikyu my secret

[2019-04-18 12:57] Sean-Brown-Digi commented on #14
Sorry but unfortunately I didn't have much luck. I emailed Crashlytics support and they told me that Titanium isn't officially supported. Since I'm so busy at work I gave up on this path.

[2019-04-18 13:33] ericrab commented on #17
This is trying to auto upload the DSYM...cna I just manually send to the fabric site

[2019-04-18 13:57] ericrab commented on #17
Here is the exact error from the build log:

[TRACE]      /bin/sh -c /Users/peterladis/Documents/products.nosync/devices.nosync/IOS/build/iphone/build/Intermediates/LilyPad.build/Release-iphoneos/LilyPad.build/Script-000000000000000000000026.sh
[TRACE]  /bin/bash: ../../scripts/script-titanium-crashlytics.sh: No such file or directory
[TRACE]  Command PhaseScriptExecution failed with a nonzero exi

[2019-04-18 15:17] ericrab commented on #17
Added scripts in again and got this

/bin/sh -c /Users/peterladis/Documents/products.nosync/devices.nosync/IOS/build/iphone/build/Intermediates/LilyPad.build/Release-iphoneos/LilyPad.build/Script-000000000000000000000026.sh
[TRACE]  ../../scripts/script-titanium-crashlytics.sh: line 1: ../../modules/iphone/ti.crashlytics/1.2.2/platform/Fabric.framework/uploadDSYM: No such file or directory
[TRACE]

[2019-04-18 15:28] ericrab commented on #17
Here is a picture of my IOS director during a build

![Screen Shot 2019-04-18 at 11 28 30 AM](https://user-images.githubusercontent.com/1727354/56372506-25178880-61cd-11e9-87a0-904c45f3a816.png)

[2019-04-18 16:06] ericrab commented on #17
More info..I changed the path to be the FULL path..and now I see a new error:

[TRACE]      /bin/sh -c /Users/peterladis/Documents/products.nosync/devices.nosync/IOS/build/iphone/build/Intermediates/LilyPad.build/Release-iphoneos/LilyPad.build/Script-000000000000000000000026.sh
[TRACE]  ../../scripts/script-titanium-crashlytics.sh: line 1: /Users/peterladis/Documents/products.nosync/devices.nosync

[2019-04-18 19:12] ericrab commented on #17
I fixed...had to go in and modify a bunch of file permissions

[2019-04-18 19:12] #17 closed

[2019-04-19 00:29] hansemannn commented on #17
Happy you fixed it. For future reference: The Crashlytics script needs execution permissions (755).

[2019-04-22 12:44] ericrab opened #18 "Do you have a DIST for IOS for: hansemannn/titanium-imagepicker"
It will not compile on my system.

[2019-04-23 15:37] ericrab commented on #18
Any updates?

[2019-04-23 16:33] hansemannn commented on #18
This repo is for Crashlytics, sorry.

[2019-04-23 16:33] #18 closed

[2019-04-23 16:39] hansemannn commented on #18
I added dist builds for iOS and Android [here](https://github.com/hansemannn/titanium-imagepicker/releases), but please do not spam other repos with requests about modules that are a different project.

[2019-04-23 17:00] ericrab commented on #18
SWEET

[2019-04-23 17:11] ericrab commented on #18
Sorry there was no way to comment on your  other REPO.

[2019-04-25 18:15] bubinf opened #19 "Android Not Reporting"
My error is as follows

[ERROR] Fabric: Failed to retrieve settings from https://settings.crashlytics.com/spi/v2/platforms/android/apps/com.deloitte.kitchensink/settings
[ERROR] Answers: Failed to retrieve settings
[WARN]  CrashlyticsCore: Received null settings, skipping report submission!

However, I also get this
[DEBUG] TitaniumCrashlyticsModule: (main) [981,981] Crashlytics initialized

Any h

[2019-05-07 19:38] bubinf commented on #19
now it is this
[ERROR] Fabric: Settings request failed.
[ERROR] APSAnalyticsRunnable: Unable to resolve host "api.appcelerator.com": No address associated with hostname
[ERROR] CrashlyticsCore: Error occurred sending report com.crashlytics.android.core.SessionReport@49ff2b8
[ERROR] CrashlyticsCore: Error occurred sending report com.crashlytics.android.core.SessionReport@65e9891
[ERROR] Crashlytics

[2019-05-14 00:45] cmtanko opened #20 "Crashlytics not sending any report."
I followed everything in the readme section. I was able to build and register the app in the crashlytics.

ISSUE:
- I don't get any log or any report in the crashlytics dashboard for normal crash or crashlytics.crash(), it's just empty with the correct number of devices that has the app installed in it.

I do not get any error during the build, Am I missing something or some issue with the titaniu

[2019-05-14 10:45] mirash8842 opened #21 "SECRET_KEY"
# Do not run this file manually! It is referenced from your native Xcode project
"../../modules/iphone/ti.crashlytics/1.2.1/platform/Fabric.framework/uploadDSYM" <YOUR_API_KEY> <YOUR_SECRET_KEY>

I'm using Firebase. Where can I find 'secret_key'?

[2019-05-14 15:08] hansemannn commented on #21
Please use the Firebase help channels for questions, thanks.

[2019-05-14 15:08] #21 closed

[2019-05-22 13:59] Brianggalvez opened #22 "Android sdk 8.0.1.GA not calling onStart"
Testing the new SDK the onStart override never gets called. With 8.0.0.GA I can see this log: CrashlyticsCore: Initializing Crashlytics 2.6.3.25

but with 8.0.1.GA It doesn't appears causing the following error:

` Error: Must Initialize Fabric before using singleton()`

[2019-05-27 06:07] jamie1192 commented on #5
Nope no luck for me either, completely broken and does not work at all.

No reply from author on any of the issues so this is a dead project.

[2019-05-28 09:47] narbs commented on #20
I think the problem might be that TiExceptionHandler is receiving the error and logging it but that error is not propagated further and the application doesn't actually crash. Even when I cause a javascript error like: var a = null; a.callBadMethod(); the TiExceptionHandler is trapping and logging it. Crashlytics doesn't appear to be receiving the error information.

@hansemannn are you seeing evi

[2019-05-28 14:49] #19 closed

[2019-05-28 14:53] bubinf commented on #20
For android this is the same problem I had... narbs is correct with TiExceptionHandler capturing everything.
My workaround was to implement
Ti.App.addEventListener('uncaughtException',function(evt) {
 Crashlytics.throwMyCustomException(evt.message,evt.line,evt.sourceName,evt.lineSource,evt.javascriptStack.toString());
}
@Kroll.method
	public void throwMyCustomException(String message, String mylin

[2019-05-28 15:49] #20 closed

[2019-05-29 13:45] narbs commented on #20
@bubinf thank you - that really helped and worked well with a couple of bug fixes. I implemented this approach but sent the data as a dictionary - code below.

Also, the uncaughtException event can be trapped on iOS and Android but the event parameters are a little different - the code below handles different sources for the stack trace parameter.

Javascript:

function uncaughtExceptionListener(e

[2019-06-13 11:09] caspahouzer commented on #6
stuck in the same situation as @ericpolkadoc but using version 1.2.2

[2019-06-13 11:41] caspahouzer commented on #19
How did you solve it

[2019-06-13 13:02] bubinf commented on #19
It kind of started working.
Could have been the restart of my computer. The log out and log it of APPC
Or the manual Firebase configure
 firebaseCore.configure({
			   APIKey: andAPI,
			   projectID: projectGoogleID,
			   applicationID: andID
			 });

This issue could also help you.
https://github.com/hansemannn/titanium-crashlytics/issues/20

[2019-06-14 15:30] Wingee opened #24 "Cannot get iOS module to work"
I've followed the installation instructions but Fabric just shows the spinning icon waiting for my app. I noticed in the logs it says:

[TRACE] :  Integrating static framework Fabric into Xcode project.
Not in production, skipping Crashlytics DSYM upload …

Which could be related. Any ideas?

[2019-06-14 16:00] Wingee commented on #24
Will crashlytics only work with a production build of the app? @hansemannn ?

[2019-06-14 17:17] bubinf commented on #24
Nice to have an answer, as I can't find a solution for this.

[2019-06-14 17:23] Wingee commented on #22
I see the same issue.That error appears in 8.0.1 but not on 8.0.0

[2019-06-17 14:19] bubinf commented on #24
I'm getting this

[2019-06-17 14:19] Wingee commented on #24
@bubinf I managed to get it working but only with the 8.0.0 SDK. 8.0.1 caused the above error

[2019-06-17 18:03] bubinf commented on #24
Figured it out. A Colleague had deleted the check for
Not in production, skipping Crashlytics DSYM upload to solve the problem of Firebase not receiving Crash Reports.

Does that mean iOS will only work in production for sending Crash Reports?

[2019-06-17 19:38] hansemannn commented on #24
Sorry for the issues guys. The production check should be removed and the latest commits are improving build time as well. It's best to debug it with the compiled project to make sure everything is injected properly.

[2019-06-17 19:38] #24 closed

[2019-06-19 12:14] Wingee commented on #22
Error also exists on 8.0.2 SDK

[2019-07-05 12:03] ottopic opened #25 "Cannot build app iOS to production 1.2.2 sdk >= 8.0.0"
I'm getting this, anyway to fix it?

[ERROR] ** ARCHIVE FAILED **
[ERROR] The following build commands failed:
[ERROR]         PhaseScriptExecution [Ti]\ Crashlytics /Script-000000000000000000000035.sh
[ERROR] (1 failure)

[2019-07-08 10:00] #25 closed

[2019-07-12 14:12] deckameron commented on #11
@sandeep14 how did you manage to solve it?

[2019-07-12 16:48] deckameron commented on #15
@ericrab did you manage to solve this issue? Could you share how, please?

[2019-07-12 17:09] deckameron commented on #25
@ottopic could you please share you solved this issue?

[2019-07-13 04:17] sandeep14 commented on #11
I just changed the crashlytics module version it get start working. also we just added this line "../../modules/iphone/ti.crashlytics/1.2.1/platform/Fabric.framework/uploadDSYM" in script-titanium-crashlytics.sh

[2019-07-14 20:50] ottopic opened #26 "is it a fabric crash?"
19. Crashed: com.twitter.crashlytics.ios.exception
0  myapp                      0x1028785ec CLSProcessRecordAllThreads + 4330178028
1  myapp                      0x1028789d4 CLSProcessRecordAllThreads + 4330179028
2  myapp                      0x102868250 CLSHandler + 4330111568
3  myapp                      0x102876be4 __CLSExceptionRecord_block_invoke + 4330171364
4  libdispatch.dylib

[2019-07-14 20:53] ottopic commented on #25
I had not included https://github.com/hansemannn/titanium-firebase firebase core module.

[2019-07-30 07:55] AndreaVitale commented on #22
Same here on 8.0.1

[2019-08-08 08:35] vinaybhavsar17 opened #27 "Not reporting"
I've tried everything I could. Also followed the steps as it is mentioned in read me. But it is not reporting to crashlytics. The dashboard on firebase is still showing initial setup page, like it is not configured yet.
I am trying this on iOS.

![Screen Shot 2019-08-08 at 2 01 39 PM](https://user-images.githubusercontent.com/19553119/62687797-1ad00300-b9e5-11e9-9b3c-5f6186845ae5.png)

For crashin

[2019-08-13 17:28] jalenhunter commented on #8
@sandeep14 What fixed the issue for you?

[2019-09-17 11:58] #26 closed

[2019-11-06 09:32] pebosi commented on #27
Same problems with setup...

[2019-11-22 11:10] guiu23 commented on #27
Here you have info to find secret key: https://www.appypie.com/faqs/how-to-obtain-your-firebase-data-url-and-secret-key

[2019-11-22 11:13] guiu23 commented on #22
In Android I see the same initialization with 8.0.0.GA but never notify about crashes of the app...

[2019-11-24 10:52] macasfaj commented on #22
Same issue on Android using 8.2.1.GA

[2019-11-24 18:37] macasfaj commented on #27
I've followed this link to find secret key and it's not working :/ The App crashes on iOS.

[2020-04-16 05:58] caspahouzer opened #29 "Fabric shutdown"
With the message "Fabric is deprecated and shutting down May 4, 2020" isn't this module obsolete? or do I take it wrong?

[2020-04-24 10:42] simtecsystem commented on #29
+1

[2020-04-24 16:07] surajpendhare commented on #29
So, should i implement this module or no.

So, should i implement this module or no.

[2020-05-07 11:05] rlustemberg commented on #29
I think the module is not obsolete, but might need an update. I'll have a look

[2020-05-08 01:57] skypanther opened #30 "Production build fails on PhaseScriptExecution Script-000000000000000000000041.sh"
Ti SDK version: 9.0.1.GA and 8.3.1.GA
Titanium CLI: 5.2.2
Alloy: 1.14.5
firebase-core: 2.2.0
ti-crashlytics: 1.2.2
firebase-analytics: 1.4.1
OS: Catalina 10.15.4

[code]

That file contains:

[code]

That script file doesn't exist there. In fact I cannot find it anywhere in the build folder. It is maybe not being copied from PROJECT/scripts/script-titanium-crashlytics.sh.

Seems similar to issue #

[2020-05-08 16:17] skypanther commented on #30
In case it's not clear, I did create the PROJECT/scripts/script-titanium-crashlytics.sh folder & file per the readme instructions.

[2020-05-08 21:38] skypanther commented on #30
I believe the problem is that the uploadDYSM tool is trying to upload to crashlytics servers that are offline or gone.

From the `ti build` command log output:
[code]

[2020-06-02 03:06] MoEb6886 opened #31 "concurrent.TimeoutException issue on sdk 8.0.1+ and crash reporting issue on sdk 9.0.1+"
I've faced two types of issues on the 2 different configurations.
for :
titanium sdk 8.0.1+
crashlytics : 1.1.2
firebase core: 5.0.1
TimeoutException happens on android app launching time .

`[ERROR] :  CrashlyticsCore: Failed to execute task.
[ERROR] :  CrashlyticsCore: java.util.concurrent.TimeoutException
[ERROR] :  CrashlyticsCore: 	at java.util.concurrent.FutureTask.get(FutureTask.java:206)
[

[2020-08-20 14:16] hansemannn commented on #30
I just moved Crashlytics to the latest version, which refactors the DSYM upload as well. Give it a try!

[2020-08-20 14:16] #30 closed

[2020-08-20 14:17] hansemannn commented on #29
I just moved Crashlytics to the new FirebaseCrashlytics. Give it a try!

[2020-08-20 14:17] #29 closed

[2020-08-20 14:17] hansemannn commented on #27
Please the the latest version and ensure you test on a production environment as well!

[2020-08-20 14:17] #27 closed

[2020-08-20 14:18] hansemannn commented on #14
Fabric is not required anymore in the new Firebase environment. Closing!

[2020-08-20 14:18] #14 closed

[2020-08-20 14:18] hansemannn commented on #7
Please see the latest Android version!

[2020-08-20 14:18] #7 closed

[2020-08-20 14:18] hansemannn commented on #22
Please see the latest Android version!

[2020-08-20 14:18] #22 closed

[2020-08-20 14:18] hansemannn commented on #31
Please see the latest Android version!

[2020-08-20 14:18] #31 closed

[2020-08-24 09:37] Monireb opened #32 "[GRADLE] Execution failed for task ':app:mergeDebugResources'. by Crashlytics 2.0.0"
system info is :
Node.js
  Node.js Version             = 12.13.0
  npm Version                 = 6.12.0
Titanium CLI
  CLI Version                 = 5.2.2
Titanium SDK
  SDK Version                 = 9.0.3.GA
  SDK Path                    = C:\ProgramData\Titanium\mobilesdk\win32\9.0.3.GA
  Target Platform             = android

I used crashlytics 2.0.0 but get this error, could you please help to

[2020-10-01 18:48] jalenhunter commented on #30
Looks like you changes the files that the uploader hook runs in the script folder. Before it was:
`const scriptPath = '../../scripts/script-titanium-crashlytics.sh';`
and now the line looks like:
`const scriptArgs = `../../scripts/run -gsp ${googleServiceFile} -p ios\n../../scripts/upload-symbols -gsp ${googleServiceFile} -p ios ${path.join(`${dsymPaths}/${appName}.app.dSYM`)}`;`
The README has in

[2020-10-28 23:52] tj-mc opened #33 "Correct setup for iOS under v2.0.0"
Hi there, thanks for your work on this module.
I'm upgrading to version 2.0.0 on iOS, but I'm slightly confused by the Readme, as it says you need to create the script-titanium-crashlytics.sh file. However, this file references `platform/Fabric.framework/uploadDSYM` which no longer exists in 2.0.0. Is this shell file still needed, or is this only for version <= 2.0.0?
Is there a replacement file t

[2020-10-28 23:55] tj-mc commented on #33
I discovered that this is missing from `ti.runscriptphase.js`, so guessing that is not needed. Could we clarify that this is not required in 2.0.0 in the Readme?

[2020-10-29 00:30] tj-mc commented on #30
Same issue here. It seems there is no way to use this module on ios if we don't know what the run and upload symbol scripts are meant to be.

[2020-12-21 08:20] Sukirti-Vardhan commented on #12
This works like charm. Thanks for sharing.

[2020-12-26 22:09] hansemannn commented on #33
The file is not needed anymore, but the `run` and `upload-symbols` files are. I just updated the readme to reflect that!

[2020-12-26 22:09] #33 closed

[2021-01-14 07:24] cmtanko opened #34 "Android Release 2.0.0 Module not found"
I have added, in the tiapp.xml
<module platform="android" version ="2.0.0">ti.crashlytics</module>
and
 <meta-data android:name="io.fabric.ApiKey" android:value="my_key" /> inside <Application/>

It wont build my app anymore with this error message,
[ERROR] Could not find all required Titanium Modules:
[ERROR]    id: ti.crashlytics    version: 2.0.0  platform: android       deploy-type: test

if I

[2021-02-07 16:53] hansemannn commented on #34
Updated to 2.0.1

[2021-02-07 16:53] #34 closed

[2021-02-07 16:53] hansemannn commented on #32
See 2.0.1, thx!

[2021-02-07 16:53] #32 closed

[2021-05-25 07:18] arunraj-qburst opened #35 "Ti SDK 9.3.2GA + iOS 14 not working"
It seems the library is not working (no crashes were reported in FB console) with the below methods.
`var Crashlytics = require('ti.crashlytics');`
Crashlytics.crash()  OR Crashlytics.log('some error')

"script" folder and its contents are already copied (https://github.com/hansemannn/titanium-crashlytics/tree/master/ios/helper )

I have done the steps mentioned in the doc and copied the files int

[2021-05-25 20:06] arunraj-qburst commented on #11
I am also getting the same error
[code]
I alos noticed that the path and version of ti.crashlytics has changed.
Would be really great and appreciated if someone can help us to resolve this issue.

ti.crashlytics: ti.crashlytics/4.0.0/platform/FirebaseCrashlytics
Ti SDK: 9.3.2GA
iOS: 14+

[2021-08-24 09:27] macasfaj opened #36 "[GRADLE] Execution failed for task ':app:mergeDebugResources'. by Crashlytics 2.0.1"
Node.js Version = 12.16.2
npm Version = 7.14.0
Titanium CLI
CLI Version = 5.2.2
Titanium SDK
SDK Version = 9.3.2.GA
Target Platform = android

It's still happening in 2.0.1 :/ Any help??

`ERROR] [GRADLE] [string/com.crashlytics.android.build_id] /Users/Migue/Documents/NubecitaSVN/supernova-mobile-client/build/android/app/src/main/res/values/crashlytics.xml [string/com.crashlytics.android.build_id

[2021-09-14 08:47] macasfaj commented on #36
Hi there, using last release, we get this error in crashlytics panel

ti.crashlytics.TitaniumCrashlyticsModule.onAppCreate (TitaniumCrashlyticsModule.java:50)
java.lang.reflect.Method.invoke (Method.java)
com.gosupernova.app.SupernovaApplication.onCreate (SupernovaApplication.java:666)
android.app.Instrumentation.callApplicationOnCreate (Instrumentation.java:1192)
arrow_drop_down
com.android.inter

[2021-09-17 18:52] phillipmovista opened #38 "Ti SDK 9.3.2.GA + ti.crashlytics 2.1.0 Android = NullPointerException on start up"
Thank you all so much for these modules!

I am working on getting ti.crashlytics 2.1.0 into my Android app. I used the basic `require('ti.crashlytics');` in the code and I do see it going to Crashlytics in Firebase, but oddly enough, it immediately fires off a crash of:

`Non-fatal Exception: java.lang.Exception`

[code]

This seems pretty odd since it got to Firebase okay, but then it seems to co

[2021-09-17 18:58] macasfaj commented on #38
I have the same issue. I was taking about it with @m1ga recently 😞

[2021-09-17 20:04] m1ga commented on #38
@phillipmovista that line was recommended as a workaround by users in the firbase native users and it should trigger a push to upload all stored exceptions. But the problem is that it is the only exception we are seeing now. Other exceptions are not logged or seen.

Looks like it is not a Titanium only issue: https://github.com/firebase/firebase-android-sdk/issues/1944#issuecomment-883630065 but h

[2021-09-17 20:09] phillipmovista commented on #38
I was looking at it and wondering what caused the NullPointerException. Maybe `FirebaseCrashlytics.getInstance()` is null at the time that is called or something?

We already have newrelic in place but we are having to jump off it since I suppose they do not support Android Ti SDK 9

[2021-09-17 20:11] m1ga commented on #38
its `new Exception()` inside `recordException` :wink: That throws the exception and triggers the connection to the server. But it should upload all other exceptions too which is not happening

[2021-09-17 20:14] phillipmovista commented on #38
Oh, super weird. I have this running first thing in my app (to load up crashlytics) maybe that has something to do with it? Possible that it needs to check for if any exceptions exist to upload and then send them?

[2021-09-17 20:26] m1ga commented on #38
normally you don't need that and it should upload logs by its own. But it stopped working so we had a look and found that issue above where other (native) people have the same issue.
But again: the exception is intended but it should upload more which it doesn't. We've tried other workarounds but it all ended up in just seeing that crashlog and no other logs.

Have to do some more tests and check

[2021-09-17 20:27] phillipmovista commented on #38
Sound good, thank you. I will hopefully see an updated version as well.

[2021-09-17 20:30] m1ga commented on #38
You can try this version: https://migaweb.de/ti.crashlytics-android-2.1.1.zip where I removed the `FirebaseCrashlytics.getInstance().recordException(new Exception());` So it is the "old" version with the latest dependencies. There was no log at all in our tests, perhaps you'll have more luck with it

[2021-09-17 20:42] phillipmovista commented on #38
2.1.1 is acting the same for me - thanks for trying.

[2021-09-17 20:52] m1ga commented on #38
wait, with the init exception again or just no results?

[2021-09-17 20:54] phillipmovista commented on #38
init exception. still same error as above.

[2021-09-17 20:56] m1ga commented on #38
that code shouldn't be in there :thinking: Try this one https://migaweb.de/ti.crashlytics-android-2.1.1b.zip perhaps I've uploaded the wrong file

[2021-09-17 21:07] phillipmovista commented on #38
Initial tests show this is better. I will keep at it for another half hour or so

[2021-09-21 09:57] m1ga commented on #38
@phillipmovista you could run `.crash()` from the module to force a crash. Would be good to know if that is working for you

[2021-09-21 13:52] phillipmovista commented on #38
It does show the program crashes but then I do not see anything showing up in crashlytics after that time.

[2021-09-21 14:30] phillipmovista commented on #38
Darn, well, thank you for letting me know. I will share this with my team since we have other apps that may be wanting this same functionality and it looks like there could be other issues with crashlytics in mobile apps.

[2021-09-23 16:33] phillipmovista commented on #38
@m1ga any chance you can link me to that other firebase repo discussion?

Also, is there anything we can do to have the `2.1.1` code to see the steps that are being taken on this?

[2021-09-23 16:36] m1ga commented on #38
link is mentioned here https://github.com/hansemannn/titanium-crashlytics/issues/38#issuecomment-922049998

The whole module code is just those lines:
https://github.com/hansemannn/titanium-crashlytics/blob/master/android/src/ti/crashlytics/TitaniumCrashlyticsModule.java#L24-L51
and I just removed the line `FirebaseCrashlytics.getInstance().recordException(new Exception());` again

[2021-09-23 16:56] phillipmovista commented on #38
Thank you, I had overlooked that by mistake. We will keep digging from there.

[2021-10-05 21:22] petenathan42 commented on #38
crashlytics 18.2.3 is out:
https://mvnrepository.com/artifact/com.google.firebase/firebase-crashlytics?repo=google

along with analytics 19.0.2
https://mvnrepository.com/artifact/com.google.firebase/firebase-analytics?repo=google

If you want to give it a shot Still not a lot of luck from my end, but wanted to share!

[2021-10-05 21:55] m1ga commented on #38
Thanks for the info @petenathan42 nothing in my logs either and I don't see any release logs of 18.2.3

[2021-10-06 23:02] petenathan42 commented on #38
I can't really tell if this is a crashlytics issue or something funky going on with how it's integrated with titanium. You would expect an event to be created with a fatal test crash, but there's absolute silence in the firebase logs

long explanation posted in the bigger thread:

I am getting the:
10-06 17:03:17.538 19155 19193 V FirebaseCrashlytics: Persisting non-fatal event for session 615E1CC

[2021-10-06 23:31] m1ga commented on #38
as you can see in the native thread where you've posted too: there are native people having the same issues and there was team member post that they can reproduce the error (20 Jul) but that workaround didn't really work. It will just send a new exception but not the log you'll want to have. So I don't know any solution at the moment

[2021-10-07 03:20] petenathan42 commented on #38
I'm not sure if the issue I am having is the same one as in that native thread. It seems like they are getting events written in device storage, but the sending is failing. My problem is that a crash event isn't ever being written to the device's file system.

In the example project reference by the 20 Jul comment (Jan 27), he's saying the report is failing to send depending on how late the crash

[2021-10-09 03:41] petenathan42 commented on #38
I expanded on that idea a bit. I have formatted the stack trace that crashlystics consumes with titaniums's error.javaStack and error.jsStack in mind. The top-level error is still `new StackTraceElement(errorSourceName, errorMessage, errorLineSource, errorLine);`, but now the stack trace also includes error.javaStack and error.jsStack

I noticed that sometimes error.javaStack is null, so I just to

[2021-10-09 11:29] m1ga commented on #38
@petenathan42 would you mind cleaning that up (tabs/spaces), remove the jsHeader/javaHeader to make it a bit cleaner, remove the log.i and then submit a PR?

[2021-10-15 17:06] petenathan42 commented on #38
@m1ga Sorry for the delay, I took some PTO.
I tried to create a PR, but got this access error:
![image](https://user-images.githubusercontent.com/48021464/137525996-dd2864bd-5aaa-4248-b69c-371d410dd0d5.png)

[2021-10-15 17:14] petenathan42 commented on #38
@m1ga
https://github.com/hansemannn/titanium-crashlytics/pull/39

[2021-10-16 11:01] m1ga commented on #38
Merged & fixed. Thanks @petenathan42 :+1:

[2021-10-16 11:01] #38 closed

[2021-10-16 11:01] m1ga commented on #36
Fixed in the latest version :+1:

[2021-10-16 11:01] #36 closed

[2021-10-27 19:34] hansemannn opened #40 "Android: Crash in new integration"
The changes from @petenathan42 were great! But unfortunately, we now see some crashes with the following stack trace. It seems like Intercom also influences this.

[code]

[2021-10-29 18:50] petenathan42 commented on #40
I think  I over-engineered a part of the implementation.

Instead of:
[code]
It really can be just what's in the else:
[code]

You are going to get the same result in the firebase console either way.

[code]

[2021-10-29 19:01] petenathan42 commented on #40
fix: https://github.com/hansemannn/titanium-crashlytics/pull/42

[2021-11-01 16:08] petenathan42 opened #43 "trackCustomValue missing from 2.2.2?"
I am not seeing any way to log custom information to crashes in 2.2.2

[2021-11-21 19:30] m1ga opened #45 "Android: hook path in home directory"
When compiling with Atom (didn't check VSCode) the path of the hook will be wrong:
https://github.com/hansemannn/titanium-crashlytics/blob/master/android/hooks/gradle_plugins.js#L22

Atom:
`/home/miga/build/android/build.gradle` :x:

using the CLI inside the app folder:
`/home/miga/dev/titanium/test_firebase_messaging/build/android/build.gradle` :heavy_check_mark:

We might need a better way to ch

[2021-11-22 18:39] jordanbisato commented on #45
Same problem here, but with a little difference on the path on atom.

Atom:
`/build/android/build.gradle` ❌

using the CLI inside the app folder:
`/Users/jordanbisato/Projetos/CVP-Aplicativo-Front/build/android/build.gradle` ✔️

[2021-11-22 18:53] m1ga commented on #45
just tested it with Atom and VSCode. Looks like it is only an Atom issue so I'll move the issue to the package and close this one.

New issue: https://github.com/appcelerator/atom-appcelerator-titanium/issues/527

[2021-11-22 18:53] #45 closed

[2022-02-28 23:44] riodiep opened #50 "Doesn't work on iOS platform"
I followed the instructions and only worked on Android but not iOS. It didn't show up in Crashlytics Firebase console. Analytics is showing up.

Below are details of my setup:

[code]

File locations:
- rootApp\app\assets\iphone\GoogleService-Info.plist
- rootApp\scripts\run
- rootApp\scripts\upload-symbols

alloy.js
[code]

Tab.js
[code]

[2022-03-16 15:19] phillipmovista opened #51 "Android version logging everything as non-fatal (even crashes that we expect are fatal)"
We are seeing ‘fatal’ crashes but they’re labeled as ‘non-fatal’ so determining if they’re fatal or not is difficult.

We were having problems catching ANRs, but now that we have the newest version of the module we are still not seeing "Crashes" ever.

Is this a known problem?

[2022-05-10 12:01] williamycxue commented on #50
@hansemannn could you please confirm that Crashlytics does not work in Simulators right? The hooks are no injected for non production build.

[2022-05-10 21:20] m1ga commented on #51
That is "on purpose" since we use `recordException` (https://github.com/hansemannn/titanium-crashlytics/issues/38) to create crashes from Ti. That method will generate non-fatal https://firebase.google.com/docs/crashlytics/customize-crash-reports?platform=android#log-excepts logs. But it says "in addition" so from my understanding that should still fire "fatal" crashes.
Did that change at some poi

[2022-05-14 10:46] hansemannn commented on #50
This may have been fixed by #48, a new release is ready today!

[2022-05-14 10:47] #50 closed

[2022-05-14 10:47] hansemannn commented on #43
It is now migrated to a cross-platform type-based API, e.g. `setCustomKeyString`, `setCustomKeyInt`, `setCustomKeyBoolean` etc.

[2022-05-14 10:47] #43 closed

[2022-05-14 10:48] #40 closed

[2022-05-14 10:48] hansemannn commented on #35
Fixed by the latest version!

[2022-05-14 10:48] #35 closed

[2022-05-14 10:49] hansemannn commented on #51
Should I leave this open then for now? Doing some house cleaning here today :)

[2022-05-14 10:59] m1ga commented on #51
Yes, would love to hear some feedback from @phillipmovista about the latest version and if it changed at some point

[2022-05-16 13:48] phillipmovista commented on #51
Thank you all. We will add this to our backlog to check this out more.

[2022-05-19 11:20] AhmedMSayed opened #53 "Support ExceptionHandler in iOS like Android"
Can't understand Crashlytics logs in iOS. it's awesome in Android
want to support setPrimaryExceptionHandler from krollRuntime like Android

[2022-06-05 11:48] hansemannn commented on #51
Can this be closed @phillipmovista?

[2022-06-06 16:56] hansemannn commented on #51
I'm fine with keeping it open until validated, no problem!

[2022-07-07 13:16] ASankey-Ideagen opened #57 "Crashlytics not be logged on iOS platform"
Same issue as reported in https://github.com/hansemannn/titanium-crashlytics/issues/50 which had been closed. Re-opening as this still doesn't work on iOS with the latest version v4.4.0. See my comment https://github.com/hansemannn/titanium-crashlytics/issues/50#issuecomment-1168502886

This has been tested with an AdHoc build of the application running on an iPhone 11 device forcing a crash to oc

[2022-07-07 16:49] hansemannn commented on #57
If you only used adhoc for the production builds, I know whats the issue. It's that we only check for "production" [here](https://github.com/hansemannn/titanium-crashlytics/blob/main/ios/hooks/ti.runscriptphase.js#L21). For adhoc builds, it's "adhoc" instead I think (or production-adhoc).

[2022-07-08 08:45] hansemannn commented on #57
We have a CLI hook that checks different deploy types, so I was wondering if it may be skipping a dist-adhoc vs dist-appstore build. But if you don't see the log `Skipping Crashlytics injection for non-production build …'`, it must be something else, though I am sure it's something in your setup, because most of the people use it without issues.

[2022-07-08 08:55] hansemannn commented on #57
We use Alloy as well, so it should be fine. Did you review the README to have the correct structure?

[2022-07-08 09:03] ASankey-Ideagen commented on #57
Yes, app is setup exactly as instructed in the README.

[2022-07-12 19:22] trkfabi opened #58 "Readme file is wrong"
It should display:

iOS only: `setUserIdentifier(string)`
Android only: `setUserId(string)`

and `setUserName` and `setUserEmail` methods don't exist on any platform.

[2022-07-12 20:21] hansemannn commented on #58
Thanks for the report! I just added parity for the `setUserId` method on iOS, changed the readme and released a new version :)

[2022-07-12 20:21] #58 closed

[2022-10-26 19:37] m1ga opened #61 "Android: Small info for the next update"
Just reminder for the next update:

https://github.com/firebase/firebase-android-sdk/issues/4223
Don't use 18.3.0, go to 18.3.1 (or higher)

[2022-10-26 19:44] hansemannn commented on #61
Yep, saw the banner as well